<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"><meta charset="UTF-8"></head>
<body>

	<nav th:replace="~{base :: cabecalho}"></nav>

	<div class="mt-5 container shadow-lg p-3 mb-5 bg-body rounded ">
		<h1>Insira seu Login</h1>
		<div th:if="${param.error}">Invalid username and password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		
		<form th:action="@{/login}" class= "card-body" method="post">
			<div class="mb-3" >
				<label for="exampleInputEmail1" class="form-label">Email cadastrado</label>
				<input type="text" name="username" class="form-control" placeholder="Email" />
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Senha </label>
				<input type="password" name="password" class="form-control" placeholder="Senha" />
			</div>
			<div class="d-flex mb-3">
					<input type="submit" class="btn btn-warning" value="Realizar Login" />
			</div>
			<div>
				<a href="/usuario/cadastro" class="btn btn-warning" role="button" data-bs-toggle="button">Cadastre-se</a>
			</div>
	</div>
	
	
	
	<div th:replace="~{base :: rodape}"></div>
</body>
</html>